{% extends 'base2.html' %}
{% block content %}
<h1>Menu Library</h1>

<ul>
    {% for menu,subs in sub_cat_by_menu.items %}
        <li>
            <h3>
                <a href="{% url 'ngoma:menu_category' menu.id %}">{{ menu }}</a>
            </h3>
        
            {% for sub in subs %}
                <li>
                    <a href="{% url 'ngoma:menu_subcategory' sub.id %}">{{ sub }}</a>
                </li>
            {% empty %}
                <p>No categories added.</p>
            {% endfor %}
        </li>
    {% empty %}
        <p>No workout menus added.</p>
    {% endfor %}
</ul>

<a href="{% url 'ngoma:update_menu'%}">Update menu</a>
{% endblock content %}