{% extends 'base2.html' %}
{% block content %}
<h3> 
    <strong>Name:</strong> {{ athlete }}
</h3>
<h3> 
    <strong>Age:</strong> {{ age }}
</h3>
<h3> 
    <strong>Weight:</strong> {{ athlete.weight }}
</h3>
<h3> 
    <strong>Height:</strong> {{ athlete.height }}
</h3>

<h2>Track Test</h2>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            {% for test in track_tests %}
                <th>{{ test }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><strong>Fastest</strong></td>
            {% for test in track_tests %}
                <td>{{ track_summary.test.fastest }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td><strong>Slowest</strong></td>
            {% for test in track_tests %}
                <td>{{ track_summary.test.slowest }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td><strong>Latest</strong></td>
            {% for test in track_tests %}
                <td>{{ track_summary.test.latest }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>


<h2>Lift Test</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            {% for test in lift_tests %}
                <th>{{ test.test }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><strong>Fastest</strong></td>
            {% for test in lift_tests %}
                <td>{{ lift_summary.test.fastest }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td><strong>Slowest</strong></td>
            {% for test in lift_tests %}
                <td>{{ lift_summary.test.slowest }}</td>
            {% endfor %}
        </tr>

        <tr>
            <td><strong>Latest</strong></td>
            {% for test in lift_tests %}
                <td>{{ lift_summary.test.latest }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock content %}