{% extends 'base2.html' %}
{% block content %}
<h1>Workout Library</h1>

<ul>
    {% for phase,blocks in block_by_phase.items %}
        <li>
            <h3>
                <a href="{% url 'ngoma:phase_view' phase.id %}">{{ phase }}</a>
            </h3>
        
            {% for block in blocks %}
                <li>
                    <a href="{% url 'ngoma:block_view' block.id %">{{ block }}</a>
                </li>
            {% empty %}
                <p>No blocks added.</p>
            {% endfor %}
        </li>
    {% empty %}
        <p>No phases added.</p>
    {% endfor %}
</ul>

<a href="{% url 'ngoma:update_menu'%}">Update library</a>
{% endblock content %}